<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ assembly name="Microsoft.SqlServer.ConnectionInfo" #>
<#@ assembly name="Microsoft.SqlServer.Management.Sdk.Sfc" #>
<#@ assembly name="Microsoft.SqlServer.Smo" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="Microsoft.SqlServer.Management.Smo" #>
<#@ output extension=".js" #>
<#@ parameter name="SchemaName" type="System.String" #>
<#
// <copyright file="SchemaGen.tt" company="Mark Stacey">
//  Copyright © . All Rights Reserved.
// </copyright>
var server = new Server(".\\SQL2017");
    var database = new Database(server, "FitBI");
    database.Refresh();
#>import {updateField} from 'vuex-map-fields'
import Vue from 'vue'
import localForage from 'localforage'
import _ from 'underscore'
const mutations = {
<#
	Table[] tTables = (from Table tTable in database.Tables where tTable.Schema == SchemaName select tTable).ToArray();
            foreach (Table tTable in tTables)
            {
#>
  SET_<#= tTable.Name.ToUpper() #>_PROPERTIES (state, payload) {
    if (typeof payload !== 'undefined') {
      Vue.set(state.<#= tTable.Name #>, payload.<#= tTable.Name #>ID, {...state.<#= tTable.Name #>[payload.<#= tTable.Name #>ID], ...payload})
      localForage.setItem('<#= SchemaName #>_<#= tTable.Name #>', state.<#= tTable.Name #>)
    }
  },
  SET_<#= tTable.Name.ToUpper() #> (state, payload) {
    if (typeof payload !== 'undefined') {
      Vue.set(state.<#= tTable.Name #>, payload.<#= tTable.Name #>ID, payload)
      localForage.setItem('<#= SchemaName #>_<#= tTable.Name #>', state.<#= tTable.Name #>)
    }
  },
  SET_<#= tTable.Name.ToUpper() #>_LIST: function (state, fullList) {
    if (typeof (fullList) !== 'undefined') {
      fullList.forEach(function (element) {
        Vue.set(state.<#= tTable.Name #>, element.<#= tTable.Name == "DailyMeasurement" ? "MeasurementDate" : tTable.Name #>ID, element)
      }, this)
      _.each(state.<#= tTable.Name #>, (item, idx) => {
        if (item.<#= tTable.Name #>ID >= 1073741824 || item.<#= tTable.Name #>ID === null) {
          let extant = _.find(state.<#= tTable.Name #>, extItem => {
            return extItem.ID === item.ID && extItem.<#= tTable.Name #>ID !== item.<#= tTable.Name #>ID
          })
          if (typeof extant !== 'undefined') {
            if (item.UpdatedAt >= extant.UpdatedAt) {
              let extId = +extant.<#= tTable.Name #>ID
              let newVal = {...extant, ...item}
              newVal.<#= tTable.Name #>ID = extId
              Vue.set(state.<#= tTable.Name #>, newVal.<#= tTable.Name #>ID, newVal)
              Vue.delete(state.<#= tTable.Name #>, item.<#= tTable.Name #>ID)
            } else {
              Vue.delete(state.<#= tTable.Name #>, item.<#= tTable.Name #>ID)
            }
          }
        }
      })

      localForage.setItem('<#= SchemaName #>_<#= tTable.Name #>', state.<#= tTable.Name #>)
    }
  },
<# 
}
#>
  SET_FLAG (state, payload) {
    if (payload === false) {
      state.Flags.loaded = false
    } else if (payload === true) {
      state.Flags.loaded = true
    } else {
      state.Flags = {...state.Flags, ...payload}
    }
  },
  updateField
}

export default mutations
